name: Windows64 and linux64 Build

on: [push]
env:
  pkg_name: eigen
  git_ref: fb212c745d1217357c7eaafd81b7d2dd4e1ef8d4
  pkg_version: 3.4.90

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2022, ubuntu-22.04]
        build_type: ['Release']
        link_type: ['interface']
        qt_version: [6.3.1]
        include:
          - os: windows-2022
            os_short: win64
          - os: ubuntu-22.04
            os_short: linux-x86_64

    steps:
    - uses: actions/checkout@v3
    - uses: seanmiddleditch/gha-setup-ninja@master

    - name: Clone the repo
      run: git clone https://gitlab.com/libeigen/eigen.git ${{env.pkg_name}}

    - name: Checkout the correct commit
      run: git -C ${{env.pkg_name}} checkout ${{env.git_ref}}

    - name: configure
      run: cmake -S ${{env.pkg_name}} -B build -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -G Ninja -DEIGEN_BUILD_PKGCONFIG=OFF -DEIGEN_BUILD_DOC=OFF -DBUILD_TESTING=OFF -DEIGEN_BUILD_BLAS=OFF -DEIGEN_BUILD_LAPACK=OFF

    - name: Build
      run: cmake --build build --config ${{matrix.build_type}}
      
    - name: Install
      run: cmake --install build --prefix="$(pwd)/install"
      
